.containers {
    text-align: center;
    border: 1px solid black;
    margin: 5rem 35dvh;
        /* margin: 5vh 70vh; */
    border-radius: 10px;
        box-shadow: 3px 2px 3px 5px rgb(157, 167, 255);
        backdrop-filter: blur(3px);
}
.content-login {
    font-size: large;
}
.heading {
    font-size: xx-large;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    
    
    .submit {
        margin: 1rem 0;
        font-size: medium;
        width: 70vh;
        height: 2.5rem;
    
}

.emailid,
.passwords {
    text-align: left;
        /* margin-left: 8vh; */
}
input {
    width: 40vh;
    border: none;
        border-bottom: 2px solid black;
        border-radius: 20px;
            height: 5vh;
            padding-left: 2vh;
}
.icons {
    margin: 1rem 10rem;
    display: flex;
    justify-content: space-around;
}
.or {
    margin: 1rem 0;
}
.google-icon {
    border: none;
    background-color: transparent;
}
.submit {
    border: none;
    border-radius: 15px;
    /* box-shadow: 2px 2px 5px 5px rgb(205, 205, 205); */
}

.submit:hover {
    transform: scale(1.04);
}
@media (width<=1000px) {
    /* .containers {
        margin: 5vh 70vh;
    }

    .content-login {
        margin: 5vh 70vh;
        font-size: x-large;
    } */

    input {
        width: 30vh;
    }
}

@media (width<=800px) {
    .containers {
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }

    .back-btn {
        z-index: 1;
    }

}