.container {
    text-align: center;
    border: 1px solid black;
    margin: 5rem 30rem;
    border-radius: 10px;
    z-index: -1;
        box-shadow: 3px 2px 3px 5px rgb(157, 167, 255);
}
.heading {
    font-size: xx-large;
        margin-top: 4rem;
        margin-bottom: 2rem;
    }
    
    label,
    input {
        margin: 1rem 0;
}
    
    .submit {
        margin: 1rem 0;
        font-size: medium;
        width: 7rem;
        height: 2.5rem;
    
}

.emailid,
.passwords {
    text-align: left;
    margin-left: 8rem;
}
input {
    width: 15rem;
    border: none;
        border-bottom: 2px solid black;
        border-radius: 20px;
            height: 5vh;
            padding-left: 2vh;
}
.icons {
    margin: 1rem 10rem;
    display: flex;
    justify-content: space-around;
}
.or {
    margin: 1rem 0;
}
.google-icon {
    border: none;
    background-color: transparent;
}
.submit {
    border: none;
    border-radius: 15px;
    /* box-shadow: 2px 2px 5px 5px rgb(205, 205, 205); */
}

.submit:hover {
    transform: scale(1.04);
}