.container {
    text-align: center;
    border: 1px solid black;
    margin: 5rem 30rem;
}
.heading {
    font-size: xx-large;
        margin-top: 4rem;
        margin-bottom: 2rem;
    }
    
    label,
    input {
        margin: 1rem 0;
}
    
    .submit {
        margin: 2rem 0;
        font-size: medium;
        width: 7rem;
        height: 2.5rem;
    
}

.emailid,
.passwords {
    text-align: left;
    margin-left: 8rem;
}
input {
    width: 15rem;
}
.icons {
    margin: 1rem 10rem;
    display: flex;
    justify-content: space-around;
}