.title-text {
    margin: 2rem auto 2rem 2rem;
    font-size: xx-large;
}

.text-title {
    margin-left: 5rem;
    margin-bottom: 3rem;
    font-size: large;
}
.row1,
.row2 {
    display: flex;
    margin-top: 4rem;
        margin-bottom: 5rem;
        margin-left: 10%;
        margin-right: 10%;
    }
.development-index-container {}

.development-main-content {
    padding-top: 8vh;
}