.headings-dashboard {
    margin: 0rem 2rem 2rem 0;
    font-size: xxx-large;
    padding-top: 10vh;
        padding-left: 2vh;
}
img {
    margin: auto 1rem;
    border-radius: 5px;
}

.titles {
    font-size: x-large;
    margin: 0.2rem auto 1rem;
}

.content {
    margin-top: 1rem;
}

@media (max-width:500) {
    .paper {
        margin: auto 20vh;
        width: 50%;
        font-size: x-large;
    }

    .main_content {
        width: max-content;
        font-size: larger;
    }
}