* {
    font-family: 'Poppins';
    margin: 0;
    
}

.nav-right {
    display: flex;
    margin-right: 1rem;
    justify-content: center;
    align-content: center;
    align-items: center;

}

.login,
.signup {
    margin-right: 1rem;
}

.navbar {
    margin-top: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 5rem;
    /* background-color: #3B3C36;
            color: whitesmoke; */
    position: fixed;
    background-color: rgb(110, 110, 110);
    /* border-bottom: 1px black solid; */
    z-index: 1;
}

.title {
    margin-left: 2rem;
    margin-top: 1rem;
    font-size: x-large;
}

.main-text {
    padding-top: 0rem;

}

link {
    text-decoration: none;
}
.nav-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
}

.nav-left>p {
    margin: auto 1rem;
}

.community,
.dashboard {
    cursor: pointer;
    font-size: 1rem;
}

.dashboard:hover {
    opacity: .7;
}

.community:hover {
    opacity: .7;
}