.main-container-title {
    margin-bottom: 0.5rem;
    margin-top: 3vh;
    font-size: x-large;
}
.display-area-title {
    margin-bottom: 0.2rem;
    margin-top: 1rem;
}

.display-area-content {
    border: 1px solid black;
    border-radius: 15px;
        /* box-shadow: 2px 2px 10px 5px rgb(205, 205, 205); */
        border: none;
        width: 200vh;
        height: 85vh;
    margin: 0.2rem 1rem 1rem 1rem;
    scroll-behavior: smooth;
    overflow-y: scroll;
    background-color: white;
}
.add-btn {
    border: none;
    border-radius: 15px;
    box-shadow: 2px 2px 10px 3px rgb(205, 205, 205);
    width: fit-content;
    border-radius: 50px;
    float: right;
    margin-top: 1vh;
    margin-right: 1vh;
    z-index: -1;
    padding: 0;
    background-color: grey
    }
    
    .hidden {
        content: none;
        display: none;
    }
    
    .notes-list {
        padding-top: 3vh;
        padding-right: 3vh;
        margin-bottom: 5vh;
    }
    
    .notes-lists-maines {
        border-radius: 15px;
        box-shadow: 2px 2px 10px 3px rgb(205, 205, 205);
        margin-top: 1vh;
        margin-left: 1rem;
        padding-top: 2vh;
        padding-left: 1vh;
        padding-bottom: 1vh;
}
