.title-text {
    margin: 2rem auto 2rem 2rem;
    font-size: xx-large;
}

.text-title {
    margin-left: 5rem;
    margin-bottom: 3rem;
    font-size: large;
}
.main-content-finance {
    margin-top: 10vh;
}