.text-title {
    margin: 1rem auto 2rem 2rem;
    font-size: xx-large;
}
.title-text {
    margin-left: 5rem;
    margin-bottom: 3rem;
    }
    
    .tech-content-structures-title {
        margin-left: 2rem;
        margin-bottom: 1rem;
        font-size: x-large;
}