* {
    font-family: 'Poppins';
    margin: 0;
}
    
.nav-right {
        display: flex;
        margin-right: 1rem;
        justify-content: center;
        align-content: center;
        align-items: center;
    
}
    
.login,
.signup {
    margin-right: 1rem;
    font-size: large;
    }
    
    .login:hover {
        opacity: 0.7;
    }
    
    .signup:hover {
        opacity: 0.7;
}
.navbar {
    margin-top: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 5.5rem;
        /* background-color: #3B3C36;
            color: whitesmoke; */
        position: fixed;
        background-color: white;
    border-bottom: 1px white solid;
        box-shadow: 0px 10px 10px 0px rgb(205, 205, 205);
}

.title {
    padding-left: 1rem;
    font-size: xx-large;
}
.main-text {
    padding-top: 5rem;

}
link {
    text-decoration: none;
}
