.containers {
    text-align: center;
    /* border: 10px solid black; */
    padding-bottom: 0.5rem;
        margin-top: 2rem;
}

.heading {
    font-size: xx-large;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

label,
input {
    margin: 1rem 0;
}

.submit {
    margin: 2rem 0 0 0;
    font-size: medium;
    width: 7rem;
    height: 2.5rem;
    margin-bottom: 0rem;

}
.emailid,
.passwords,
.confirm-passwords {
    text-align: left;
    margin-left: 8rem;
}

input {
    width: 15rem;
    border: none;
        border-bottom: 2px solid black;
}
p {
    margin-top: 0;
    margin-bottom: 0;
}