.container {
    text-align: center;
    /* border: 10px solid black; */
}

.heading {
    font-size: xx-large;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

label,
input {
    margin: 1rem 0;
}

.submit {
    margin: 2rem 0;
    font-size: medium;
    width: 7rem;
    height: 2.5rem;

}